.Container{
	padding: 20px 40px;
        margin: auto;
        font-family: 'Arial', cursive;
	font-size: 16px;   
}
.Datos_Postulante input {
   border: transparent;
   background: transparent;
   border-bottom: 1px solid black;
   text-align: center;
}
.Datos_Postulante{
    padding: 2%;
    width: 70%;
    height: 130px;
}
.Encabezado{
    text-align: center;
}

.Left_Datos{
    width: 300px;
    float: left;
    justify-content: center;
    
}
.Left_Datos label{
    text-decoration: none;
    text-align: left;
    display: block;
}
.Left_Datos input{
    float: right;
    display: block;
    text-align: center;
}
.Right_Datos{
    width: 300px;
    float: right;
}
.Right_Datos input{
    float: right;
    display: block;
    text-align: center;
}
.Right_Datos label{
    text-align: left;
    display: block;
}
.Otros_Datos{
    border: 2px solid blue;
    margin-top: 2%;
    width: 600px;
}
.Otros_Datos input{
    background: transparent;
    border: transparent;
    border-bottom: 1px solid black;
    text-align: center;
    width: 80px;
}
.Otros_Datos label{
    display: block;
}

.Preguntas{
    background: #cdffd5;
    border-radius: 10%;
    border: transparent;
    border-bottom: 2px solid black;
    margin-top: 1%;
    padding: 4px;
    width: 70%;
}
.Preguntas input{
    float: right;
    margin-right: 2%;
}
.Text{
    width: 400px;
    text-align: left;
}

.Opcion{
    width: 50px;
    text-align: right;
}