.Container{
    padding: 20px 40px;
    margin: auto;
    font-family: 'Arial', cursive;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Encuesta-F{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Datos_Postulante input {
   border: transparent;
   background: transparent;
   border-bottom: 1px solid black;
   text-align: center;
}
.Datos_Postulante{
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #F0E68C;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Encabezado{
    text-align: center;
}

.Left_Datos{
    width: 300px;
    background-color: blue;
    justify-content: center;
}
.Left_Datos label{
    text-decoration: none;
    text-align: left;
    display: block;
}
.Left_Datos input{
    float: right;
    margin-top: -17px;
    display: block;
    text-align: center;
}
.Right_Datos{
    background-color: red;
    width: 300px;
}
.Right_Datos input{
    float: right;
    margin-top: -17px;
    display: block;
    text-align: center;
}
.Right_Datos label{
    text-align: left;
    display: block;
}
.Otros_Datos{
    border: 2px solid blue;
    margin-top: 2%;
    width: 600px;
}
.Otros_Datos input{
    background: transparent;
    border: transparent;
    border-bottom: 1px solid black;
    text-align: center;
    width: 80px;
}
.Otros_Datos label{
    display: block;
}

.Preguntas{
    display: flex;
    border: 1px solid black;
    border-bottom: 0;
    width: 75%;
}
.Text{
    width: 80%;
    padding: 5px 6px;
    border-right: 1px solid black;
    text-align: left;
}
.Opcion{
    float: right;
    right: 10px;
    width: 20%;
    height: 100%;
    padding: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Opcion label{
    margin-left: 10px;
    margin-right: 10px;
}