@import url('https://fonts.googleapis.com/css?family=Courgette');
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header{
    width: 100%;
}
.Logo_tipo{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 15px 0;
}
.img2{
    position: absolute;
    right: 4%;
    top: -1px;
}
.img2 img{
    width: 90px; 
    height: 70px;
}
.img2 .Dos{
    width: 140px; 
    height: 67px;
}
.img1{
    background-color: transparent;
}
.img1 img{
    width: 40px; 
    height: 40px; 
    float: left;
}
.Logo_tipo h1{
    font-family: 'Ink Free';
    font-weight: 400;
    color: green;
}
.Barra-menu{
    width: 100%;
    border-color: #28a745;
    background-color: #28a745;
}
.Menu .Derecha{
    float: right;
}
.Barra-menu nav{
    width: 90%;
    max-width: 1200px;
    max-height: 100%;
    margin: auto;
}
.Boton-m{
    display: none;
}
.Boton-m span{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.Menu{
    list-style: none;
    width: 100%;
}
.Menu li{
    display: inline-block;
}
.Menu li a{
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-family: 'Courgette', cursive;
    font-size: 18px;
}
.Menu li a:hover{
    background: #218838;
    border-color: #1e7e34;
}
.Perfil{
    float: right;
    width: 255px;
    margin-top: -53px;
    margin-right: 60px;
    font-family: 'Courgette', cursive;
    font-size: 13px;
    cursor: pointer;
}
.Perfil h2{
    text-align: center;
    padding: 12.5px 0;
    color: #fff;
}
.Perfil img{
    float: right;
    padding: 0;
    margin: 0;
    width: 53px;
    height: 53px;
    border-radius: 50px;
    border: 1px solid black;
}
.DatosPerfil{
    position: absolute;
    right: 0;
    width: 200px;
    height: 107px;
    border-bottom: 1px solid #28A745;
    border-left: 1px solid #28A745;
    background: rgba(40, 167, 69 ,0.2);
}
.btn{
    float: right;
    padding: 15px;
    color: #28A745;
    width: 100%;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Courgette', cursive;
    font-size: 18px;
    background-color: transparent;
    border: transparent;
}
.btn:hover{
    background: #218838;
    border-color: #1e7e34;
}
@media screen and (max-width: 870px){
    .Boton-m{
        width: 90%;
        margin: auto;
        display: block;
        padding: 8px 0;
    }
    .Barra-menu nav{
        position: absolute; 
        left: -100%;
        background: #28a745;
        border-color: #28a745;
        width: 200px;
        height: 100%;
    }
    .Menu li{
        display: block;
    }
    .Menu .Derecha {
        float: left;
        width: 100%;
    }
    .Perfil{
        float: right;
        width: 215px;
        margin-top: -39px;
        margin-right: 20px;
        cursor: pointer;
    }
    .Perfil h2{
        text-decoration: none;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }
    .Perfil img{
        float: right;
        padding: 0;
        margin: 0;
        width: 39px;
        height: 39px;
        border-radius: 50px;
        border: 1px solid black;
    }
}
@media screen and (max-width: 770px){
    .Boton-m{
        width: 90%;
        margin: auto;
        display: block;
        padding: 8px 0;
    }
    .Barra-menu nav{
        position: absolute; 
        left: -100%;
        background: #28a745;
        border-color: #28a745;
        width: 200px;
        height: 100%;
    }
    .Menu li{
        display: block;
    }
    .Menu .Derecha {
        float: left;
        width: 100%;
    }
    .img2 .Dos{
        display: none;
    }
   .Perfil{
        float: right;
        width: 155px;
        margin-top: -39px;
        margin-right: 20px;
        cursor: pointer;
    }
    .Perfil h2{
        text-decoration: none;
        text-align: center;
        font-size: 15px;
        padding: auto;
    }
    .Perfil img{
        float: right;
        padding: 0;
        margin: 0;
        width: 39px;
        height: 39px;
        border-radius: 50px;
        border: 1px solid black;
    }
}