@import url('https://fonts.googleapis.com/css?family=Courgette');
td{
    text-align: center;
    padding: 0 5px;
    background: #d6ffbc;
    border-bottom: 2px solid #28A745;
}
table{
    background-color: #d6ffbc;
}
th{
    text-align: center;
    padding: 3px;
    background-color: #28A745;
    font-family: 'Courgette' ,cursive;
}
tr{
    
}
.label1{
    text-align: center;
    font-size: 25px;
    font-family: 'Courgette' ,cursive; 
}
.position{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-top: 40px;
}
.TablaDe1{
    float: left;
    top: 0;
    left: 0;
}
.TablaDe2{
    float: right;
    top: 0;
    right: 0; 
}
.TablaDe1 img,
.TablaDe2 img{
    padding: 0;
    width: 70px;
    height: 60px;
}
.icon-pencil{
    cursor: pointer;
    font-size: 25px;
    color: green;
}
.icon-pencil:hover{
    cursor: pointer;
    color: lightgreen;
}