@import url('https://fonts.googleapis.com/css?family=Courgette');
td{
    text-align: center;
    padding: 0 5px;
    background: #d6ffbc;
    border-bottom: 2px solid #28A745;
}
table{
    width: 100%;
    background-color: #d6ffbc;
}
th{
    text-align: center;
    padding: 3px;
    background-color: #28A745;
    font-family: 'Courgette' ,cursive;
}
.label1{
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Courgette' ,cursive; 
}
.position{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-top: 2px;
    justify-content: center;
    text-align: center;
}
.DenAnon{
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    margin-bottom: 2px;
    background-color: lightgreen;
    border: 1px solid #ffeaa8;
    border-radius: 10px 10px 0 0;
}
.DenCli{
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 2px;
    background-color: #ffeaa8;
    border-radius: 0 0 10px 10px;
    border: 1px solid lightgreen;
}
.TablaDe1{
    overflow: auto;
    background-color: red;
    width: 90%;
    height: 400px;
}
.TablaDe2{
    overflow: auto;
    width: 90%;
    height: 550px;
}
.TablaDe1 img,
.TablaDe2 img{
    padding: 0;
    width: 70px;
    height: 60px;
}
.icon-pencil{
    cursor: pointer;
    font-size: 25px;
    color: green;
}
.icon-pencil:hover{
    cursor: pointer;
    color: yellowgreen;
}