.Container{
    margin: auto;
    padding: 0;
}
.Caja{
    width: 300px;
    height: 600px;
    display: block;
    padding-top: 20px;
    background-color: yellow;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.Caja input{
    margin: auto;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
}
.Caja label{
    display: block;
    text-decoration: none;
}
.Caja .Img{
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
}
.Img{
    padding: 0;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    cursor: pointer;
    border: 2px solid red;
}
.Img img{
    padding: 0;
    margin: auto;
    border-radius: 50px;
    width: 90px;
    height: 90px;
}
.file{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
}
