.BarrMenu {
    position: relative;
    z-index: 1;
}

.Container {
    margin: auto;
    text-align: center;
    width: 100%;
    
}
.AgregarPostulaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
}
.Disponibles {
    background: rgba(255,234,168,.5);
    box-sizing: border-box;
    margin-left: 1.5%;
    margin-bottom: 1.5%;
    border-radius: 10px;
    border: 1px solid black;
    width: 500px;
    height: 300px;
}
.Info-Mascota {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding-top: 10%;
    background: rgba(255,234,168,.8);
    position: relative;
    border-radius: 10px 10px 0px 0px;
    top: -100%;
    z-index: 0;
    width: 100%;
    height: 90%;
}
.Postulacion_Mascota{
    position: absolute;
    z-index: 2;
    top:0;
    left: 0;
    width: 100%;
    height: 120%;
    background: rgba(0,0,0,.7);
}
.CuadroDisponibles{
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
}
.ImgDisponibles {
    width: 100%;
    height: 90%;
    border-radius: 10px 10px 0px 0px;
}

@media screen and (max-width: 1400px){
    .Disponibles {
        box-sizing: border-box;
        margin-left: 1.5%;
        margin-bottom: 1.5%;
        border-radius: 10px;
        border: 1px solid black;
        width: 400px;
        height: 300px;
    }
}

@media screen and (max-width: 1260px){
    .Disponibles {
        box-sizing: border-box;
        margin-left: 1.5%;
        margin-bottom: 1.5%;
        border-radius: 10px;
        border: 1px solid black;
        width: 350px;
        height: 300px;
    }
}

@media screen and (max-width: 1100px){
    .Disponibles {
        box-sizing: border-box;
        margin-left: 1.5%;
        margin-bottom: 1.5%;
        border-radius: 10px;
        border: 1px solid black;
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 950px){
    .Disponibles {
        box-sizing: border-box;
        margin-left: 1.5%;
        margin-bottom: 1.5%;
        border-radius: 10px;
        border: 1px solid black;
        width: 48%;
        height: 300px;
    }
}

@media screen and (max-width: 700px){
    
    .AgregarPostulaciones {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        box-sizing: border-box;
        width: 100%;
    }
    
    .Disponibles {
        box-sizing: border-box;
        margin-left: 1.5%;
        margin-bottom: 1.5%;
        border-radius: 10px;
        border: 1px solid black;
        min-width: 300px;
        width: 97%;
        height: 300px;
    }
}
