
#Registro_Cliente {
    display: none;
}

#Registro_Cliente:target {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    margin: auto;
    justify-content: center;
    align-items: center;
}

#Registro_Cliente h1 {
    text-align: center;
}

.Contenido_C {
    box-sizing: border-box;
    font-size: 13px;
    margin: auto;
    width: 450px;
    height: 670px;
    border: 3px solid lightgreen;
    background: beige;
    padding: 2%;
    border-radius: 5%;
}

.form_Ciudadano {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form_Ciudadano input {
    float: right;
    width: 40%;
    border-radius: 5%;
}

.form_Ciudadano Select {
    float: right;
    width: 40%;
    border-radius: 5%;
}

.form_Ciudadano .link_Veterinaria {
    display: flex;
    align-items: flex-end;
}

.form_Ciudadano .Image {
    font-size: 30px;
    float: right;
}

.FotoCliente {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
}

.btn-success{
    margin-left: 28%;
}

@media screen and (max-width: 400px){
    .Contenido_C {
        text-align: center;
        box-sizing: border-box;
        font-size: 13px;
        margin: auto;
        width: 90%;
        height: 100%;
        border: 3px solid lightgreen;
        background: beige;
        padding: 2%;
        border-radius: 5%;
    }
    .form_Ciudadano input {
        float: left;
        width: 98%;
        border-radius: 5%;
    }

    .form_Ciudadano Select {
        float: left;
        width: 98%;
        border-radius: 5%;
    }
}