@import url('https://fonts.googleapis.com/css?family=Courgette');
.Caja .h2{
    font-family: 'Courgette', cursive;
    font-size: 30px;
}
.Caja{
    width: 400px;
    height: 400px;
    display: block;
    padding-top: 20px;
    background-color: lightyellow;
    border: 2px solid yellow;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin: 40px auto;
}
.Caja input{
    margin: auto;
    width: 50%;
    height: 25px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
}
.Caja .btnE{
    width: auto;
    height: auto;
    padding: 2px 4px;
    cursor: pointer;
}
.Caja textarea{
    width: 50%;
    height: 75px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.Caja label{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}
.Caja .file{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
}
