@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Oswald');

.Container{
	padding: 20px 40px;
        margin: auto;
        font-family: 'Arial', cursive;
	font-size: 16px;   
}

.Foto_input{
    opacity: 0;
    width: 0.1 px;
    height: 0.1 px;
}
.Nombre_A, .Nombre_AM, .Nombre_V4{
    background:  lemonchiffon;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 15px;
}
.Nombre_S, .Nombre_V0, .Nombre_CI{
     background:  lightgreen;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 15px;
}


.Datos_T {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items:  center;
}
.Datos{
    padding-top: 4%;
    display: flex;
    flex-direction: column;
}
.Datos input{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    border:  transparent;
    border-bottom: 1px solid black;
}
.btn_A_E {
   text-align: center;
    padding-top: 5%;
    width: 10%;
    margin-left: 40%;
}

.SAdministrador {
    background:  lightgreen;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Oswald', cursive;
    font-size: 25px;
    margin-bottom: 0px;
}
.Registrar_A{
    background:  lemonchiffon;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 20px;
}
.form_Administrador{
	border-radius: 0px 0px 5px 5px;
	border: 0.1px solid black;
	border-top: none;
	box-sizing: border-box;
	height: 250px;
}
.LR_Administrador{
        padding-top: 2%;
	font-size: x-large;
	margin: auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.left_Administrador{
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
        text-align: left;
}

.left_Administrador input{
        width: 150px;
        float: right;
}
.left_Administrador select {
        width: 150px;
        float: right;
}
.Right_Administrador{
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
        text-align: left;
}
.Right_Administrador input{
        width: 150px;
        float: right;
}
.Right_Administrador label{
        width: 150px;
        float: right;
}
.btn_Administrador{
    margin-top: 2%;
    text-align: center;
}
.btn_Administrador input{
    background: lightgreen;
    padding: 2px 5px;
    font-family: 'Oswald', cursive;
    font-size: 18px;
}
.Actualizar_A{
    background:  lightgreen;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 20px;
}

.SAmbienteySalud{
    margin-top: 2%;
    background:  lemonchiffon;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Oswald', cursive;
    font-size: 25px;
}

.Registrar_AmbienteySalud{
    background:  lightgreen;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 20px;
}
.form_AmbienteySalud{
	border-radius: 0px 0px 5px 5px;
	border: 0.1px solid black;
	border-top: none;
	box-sizing: border-box;
	height: 250px;
}
.LR_AmbienteySalud{
        padding-top: 2%;
	font-size: x-large;
	margin: auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.left_AmbienteySalud{
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
        text-align: left;
}
.left_AmbienteySalud input{
        width: 150px;
        float: right;
}
.left_AmbienteySalud select {
        width: 150px;
        float: right;
}
.right_AmbienteySalud{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
        text-align: left;
}
.right_AmbienteySalud input{
        width: 150px;
        float: right;
}
.Right_AmbienteySalud label{
        width: 150px;
        float: right;
}
.btn_AmbienteySalud{
    margin-top: 2%;
    text-align: center;
}
.btn_AmbienteySalud input{
    background: lightgreen;
    padding: 2px 5px;
    font-family: 'Oswald', cursive;
    font-size: 18px;
}
.Actualizar_AmbienteySalud{
    background:  lemonchiffon;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 20px;
}   
.Ambiente{
     background:  lightgreen;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 20px;
}
.Salud{
    background:  lemonchiffon;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 20px;
}

.SVeterinaria{
    margin-top: 2%;
    background:  lightgreen;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Oswald', cursive;
    font-size: 25px;
}
.Registrar_V{
    background:  lemonchiffon;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 20px;
}
.Actualizar_V{
    background:  lightgreen;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 20px;
}
.SCiudadano{
    margin-top: 2%;
    background:  lemonchiffon;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Oswald', cursive;
    font-size: 25px;
}
.Registrar_C{
    background:  lightgreen;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 20px;
}
.form_Ciudadano{
	border-radius: 0px 0px 5px 5px;
	border: 0.1px solid black;
	border-top: none;
	box-sizing: border-box;
	height: 250px;
}
.LR_Ciudadano{
        padding-top: 2%;
	font-size: x-large;
	margin: auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.left_Ciudadano{
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
        text-align: left;
}
.left_Ciudadano input{
        width: 150px;
        float: right;
}
.left_Ciudadano select {
        width: 150px;
        float: right;
}
.Right_Ciudadano{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
        text-align: left;
}
.Right_Ciudadano input{
        width: 150px;
        float: right;
}
.Right_Ciudadano label{
        width: 150px;
        float: right;
}
.btn_Ciudadano{
    margin-top: 2%;
    text-align: center;
}
.btn_Ciudadano input{
    background: lightgreen;
    padding: 2px 5px;
    font-family: 'Oswald', cursive;
    font-size: 18px;
}
.Actualizar_C{
    background:  lemonchiffon;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', cursive;
    font-size: 20px;
}   

