
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-attention-circled:before { content: '\e801'; } /* '' */
.icon-attention:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-left-open:before { content: '\e805'; } /* '' */
.icon-down-open:before { content: '\e806'; } /* '' */
.icon-floppy:before { content: '\e807'; } /* '' */
.icon-key:before { content: '\e808'; } /* '' */
.icon-camera-outline:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-camera:before { content: '\e80b'; } /* '' */
.icon-block-outline:before { content: '\e80c'; } /* '' */
.icon-heart-empty:before { content: '\e80d'; } /* '' */
.icon-heart:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-pencil:before { content: '\e810'; } /* '' */
.icon-off:before { content: '\e811'; } /* '' */
.icon-megaphone:before { content: '\e812'; } /* '' */
.icon-location:before { content: '\e813'; } /* '' */
.icon-info:before { content: '\e814'; } /* '' */
.icon-question:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */